<html lang="en-us">
		<head>
			<%- include('header'); %>
		</head>
		<body>
			<div class="jumbotron">
				<div class="text-center">
					<h2>When you hit hot metal with hammer, it make "FTING" sound and get flat</h2>
				</div>
			</div>

			<div class="container col-sm-12 text-center">

		</body>
</html>