<html lang="en-us">
		<head>
			<%- include('header'); %>
		</head>
		<body>
			<div class="jumbotron">
				<div class="text-center">
					<h2>Please buy something :)</h2>
				</div>
			</div>

			<div class="container col-sm-12 text-center">

		</body>
</html>
